<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PBIWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Main.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  
  
  <applicationSettings>
    <PBIWebApp.Properties.Settings>
      <setting name="RedirectUrl" serializeAs="String">
        <value>http://rsazawtweb.azurewebsites.net/Redirect</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>7f1f8ccb-46eb-44c3-8f26-5cec081aa1a6</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>E+nTncworQsXmmzcajcBZ5lEQCzB+WTX0sryGK2vMYE=</value>
      </setting>
      <setting name="ML_APIKey" serializeAs="String">
        <value>fZq5cm1lhS0JoBJQp3xi8YwByALVFabD+4N8lLpBXNSTvLI4ALTVEnrLVkBwnXwgpC2k9D+Pzd2nhB/yLvWWNA==</value>
      </setting>
      <setting name="ML_StorageAccount" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=rsazsolawtsa;AccountKey=2fKzmw+0q9dRQJjtW/GbcL2AY9S/JWfQfX0vwqdB2l95gkp1wOIAN+8KvVrjxlNmV42QNUU/9JmwETpOB0IcgQ==</value>
      </setting>
      <setting name="ML_WorkspaceID" serializeAs="String">
        <value>c52d3059c1a64eb68e863ebc05b0a6c2</value>
      </setting>
      <setting name="ML_ServiceID" serializeAs="String">
        <value>db7e4077d5d34a68ac9129785975a7f1</value>
      </setting>
      <setting name="Weather_APIKey" serializeAs="String">
        <value>eb679a2fcb70d5a1</value>
      </setting>
      <setting name="ML_RegionPrefix" serializeAs="String">
        <value>ussouthcentral</value>
      </setting>
    </PBIWebApp.Properties.Settings>
  </applicationSettings>
</configuration>